---
layout: default
title: Welcome
description: "Hey, I'm Ben Ripkens and this is my blog. This blog is about some of the stuff that I encounter while developing, reading and the like."
---

<div id='home'>
  {% include author.html %}

  <p style="font-style: italic">
    I stopped publishing articles on my personal blog and instead published
    them on the blog of my employer. You can thus find all
    new articles on the <a href="https://blog.codecentric.de/en/author/ben-ripkens/">
    codecentric AG engineering blog</a>.
  </p>

  <h2> All posts</h2>
  <ul class='posts'>
    {% for post in site.posts %}
      <li class='clearfix'>
        <span>{{ post.date | date_to_string }}</span>
        <a href='{{site.baseurl}}{{ post.url }}' rel='bookmark'>
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
