<div class='about clearfix' itemscope itemtype='http://data-vocabulary.org/Person'>
    <div>That's me, Ben.</div>
    Hey, I am <span itemprop="name">Ben Ripkens</span> (<span itemprop="nickname">bripkens</span>)
    and this is my blog.

    I live in
    <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
      <span itemprop="locality">D&uuml;sseldorf</span>
      (<span itemprop="region">Germany</span>)
    </span>
    and I am employed by the
    <span itemprop="affiliation">codecentric AG</span> as a Software Engineer.

    Web application frontends are my main area of expertise, but you may also
    find some other interesting articles on this blog.
</div>
