<div class='about clearfix' itemscope itemtype='http://data-vocabulary.org/Person'>
    <div>That's me, Ben.</div>
    Hey, I am <span itemprop="name">Ben Ripkens</span> (<span itemprop="nickname">bripkens</span>)
    and this is my blog.

    I live in
    <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
      <span itemprop="locality">D&uuml;sseldorf</span>
      (<span itemprop="region">Germany</span>)
    </span>
    and I am employed by the
    <span itemprop="affiliation">codecentric AG</span> as a Software Developer.

    When not working on enterprise applications as part of my job, I really like
    to dig into new paradigms for the development of web application
    front-ends and, recently, the Raspberry PI.
</div>